:root {
  --main-bg-color: #e8e8e8;
  --main-font-color: white;
  --container-width: 768px;
  --font-body-stack: 'Josefin Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://i.postimg.cc/3rnL2LY8/rock-paper-scissors.png');
  font-family: var(--font-body-stack);
  font-size: 2rem;
}

header {
  background-color: #eb4d4d;
  box-shadow: 2px 2px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  text-align: center;
  height: 100%;
  padding: 1rem;
  box-shadow: 2px 2px 5px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}


h3 {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.container {
  max-width: var(--container-width);
  margin: 2rem auto;
}

.game {
  display: flex;
  padding: 20px;
  background-color: var(--main-bg-color);
}

.bg-image {
  background-image: url('images/player.jpg');
  background-size: contain;
  background-size: 90% 90%;
  background-position: center;
  box-shadow: 2px 2px 5px;
}

/* PLAYERS */

.player-0-container,
.player-1-container {
  width: 50%;
  display: flex;
  justify-content: center;
  height: 600px;
  padding: 100px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.player-name {
  font-size: 1.15rem;
  color: var(--main-font-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
}

.player-choice-0,
.player-choice-1 {
  text-align: center;
  font-weight: 100;
  color: #eb4d4d;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* OUTPUT, BUTTONS, ICONS */
.choices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: var(--container-width);
  padding: 2rem 0;
  background: var(--main-bg-color);
  flex-direction: column;
  box-shadow: 2px 2px 5px;
}

.output {
  max-width: var(--container-width);
  padding: 2rem;
  width: 75%;
  text-align: center;
  background: #f2f2f2;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: var(--container-width);
  width: 100%;
  margin: 2rem;
}

i {
  color: var(--main-font-color);
}

.icons i {
  padding: 2rem;
  display: inline-block;
  border-radius: 60px;
  padding: 0.5em 0.6em;
  outline: none;
  background: #eb4d4d;
  color: var(--main-bg-color);
  box-shadow: 10px 10px 8px #888888;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: var(--main-bg-color);
}